html{
    font-size: calc(1em + 1vw);
}
body{
    background-color: #e6f3ff;
}
h1{
    font-size: 1.5rem;
}
p{
    font-size: .8rem;
}
.construction-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: auto;
    padding: 30vh 0vw;
}
@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}
@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}
@media screen and (max-width:800px) {
    .construction-wrapper{
        grid-template-columns: 1fr;
    }
    .construction-text{
        text-align: center;
    }
}