html,
body {
    width: 100%;
    height: 100%;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Martel';
}

* {
    box-sizing:border-box;
}


/* --------- HEADER --------- */

.header-background {
    clear:both;
    position: relative;
    text-align: center;
    color: #fff;
    min-height: auto;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 100%;*/ 
    height:100vh;
    max-height: 150vw;
}

@supports (-webkit-overflow-scrolling: touch) {
    .header-background {
        background-attachment: scroll;
    }
}

.header-content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1%;
    text-align: center;
    top: 35%;
}
.main-header .header-content {
    width: 60%;
    top: 25%;
}



.sub-header {
    /*min-height:50%
    height: auto;*/
    height:50%;
}
.sub-header h1 {
    font-size: 1.5rem;
}

.main-header h1 {
    font-size: 2rem;
    font-weight: 300;
    color: rgba(40,40,40);
    color: rgba(0,0,0,0.8);
    text-shadow: 0 0 5px white;
}

.main-header p {
    font-size: .5rem;
    font-weight: 300;
    color: rgba(70,90,105,.5);
}
.main-header h2 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    /*text-shadow: 0 0 5px white;*/
}

@media all and (orientation:portrait){
    .main-header .header-content {
        width:auto;
        right:0;
        bottom:0;
    }
}

/*@media screen and (max-width:500px) {
    .main-header .header-content {
        float:right;
    }
}*/


h1 {
    font-size: 1rem;
}
h2 {
    font-size: .8rem;
}
h3 {
    font-size: .7rem;
}
p {
    font-size: .5rem;
}




.year{
    font-family: "Martel";
    color: rgba(70,90,105,.2);
    font-size: 2rem;
    position:absolute;
    margin:0;
}
.year-mobile{
    display: none;
}

/* --------- JOBS --------- */
.resume{
    display:grid;
    grid-template-columns: 1fr 4fr;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
}
.job-image {
    width: 4rem;
    max-width: 100px;
}
.job-company{
    font-family: 'Martel';
    margin-bottom: 0px;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;/*#000877;/*#0059b3; #236;*/
    text-decoration: underline;
}
.job-location{
    margin-bottom: 0px;
    font-size: .5rem;
    font-weight: 400;
    color: rgba(100,100,100);
}
.job-title{
    margin-bottom: 0px;
    font-size: .5rem;
    font-weight: 600;
    color: rgba(0,0,0);
}
.job-description{
    margin-bottom: 0px;
    font-size: .5rem;
    color: rgba(0,0,0);
}
.job-text{
    text-align: left;
    display: inline-grid;
    padding:5%;
}
.job-img {
    margin:auto;
    display: inline-grid;
    padding:3%;
}
.degree{
    font-family: 'Martel';
    margin-bottom: 0px;
    font-size: .8rem;
    font-weight: 400;
}
.education{
    display:grid;
    grid-template-columns: 1fr 2fr;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
}
.resume .year{
    right:5%;
}

.education .year{
    right:5%;
    margin-top:5%;
}
@media screen and (max-width:800px) {
    .resume{
        grid-template-columns: 1fr;
    }
    .job-company, .job-location, .job-title{
        text-align: center;
    }
    .year{
        display: none;
    }
    .year-mobile{
        right:0%;
        display: block;
        font-family: "Martel";
        color: rgba(70,90,105,.2);
        font-size: 2rem;
        position:absolute;
        margin:0;
    }
}


/* --------- MORE ABOUT ME --------- */

.technologies{
    font-family:Lucida Console;
    text-align: left;
    width:20rem;
    margin: auto;
    padding:0 5%;
}

.technologies .list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom:5%;
    padding-top:2%;
    margin:auto;
}

.likes-dislikes{
    width:20rem;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5%;
    min-height: auto;
}

@media screen and (max-width:800px) {
    .skills{
        width:80%;
    }
    .likes-dislikes{
        grid-template-columns: 1fr;
        margin-bottom:20%;
    }
}

/* --------- RECOGNITION AND PUBLICATIONS --------- */
.influenster{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 5%;
    align-items: center;
}

.influenster2{
    display:none;
}
.nsdi {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 5%;
    align-items: center;
}

.recognition p {
    font-family:Arial
}

.recognition a:link { /* unvisited link */
    color: #000;/*#236;*/
}
.recognition a:hover { /* mouse over link */
    color: #236;
}

.recognition img{
    max-width: 100%
}

.recognition .year{
    left:5%;
    font-size: 2.5rem;
}

@media screen and (max-width:800px) {
    .influenster2, .nsdi{
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }
    .influenster{
        display:none;
    }
    .recognition img{
        max-width: 80%;
        margin: auto;
        padding:2%;
    }
    .recog-pub h1{
        /*bottom: -900%;
        position: absolute;*/
        font-size: 1.2rem;
    }
}

/* --------- FUN FACTS --------- */

.fun-facts{
    background-color:#000;
    overflow-y: hidden;
}

.fun-facts a{
    color:#90b876;
}

.fact-img{
    position:absolute;
    width:50%;
}

.fact-txt{
    padding:5%;
    margin-left: 50%
}

.fun-facts p {
    padding-bottom:2%;
    /*font-size: 16px;*/
    font-weight: 300;
    color: #eee;
}

@media screen and (max-width:800px) {
    .fact-img{
        display:none;
    }

    .fact-txt{
        margin:0;
    }
    .technologies, .likes-dislikes{
        width:100%;
    }
}

/* --------- CONTACT ME --------- */

.contact-div{
    z-index: 1;
    position: relative;
    text-align:center;
    background-color:#fff;
    padding-top:5%;
    padding-bottom:10%
}

/* --------- OTHER --------- */

/* ICONS */
.icon{
    height:2.5rem;
    width:2.5rem;
    margin:2%;
}

.med-icon{
    height:2rem;
    width:2rem;
}

.small-icon{
    height:1rem;
    width:1rem;
}




/* HORIZONTAL LINE */
hr.fancy {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}










