html,
body {
    width: 100%;
    height: 100%;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Martel';
}

/* HEADER */

.header-background {
    position: relative;
    text-align: center;
    color: #fff;
    min-height: auto;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height:100vh
}
.header-content {
    position: relative;
    width: 100%;
    height: inherit;
    padding: 1%;
    text-align: center;
    top: 35%;
}

.sub-header {
    height:50%
}
.sub-header h1 {
    font-size: 4vw;
}

.main-header h1 {
    font-size: 5vw;
    font-weight: 300;
}
.main-header p {
    font-size: 1.5vw;
    font-weight: 300;
    color: rgba(70,90,105,.5);
}
.main-header h2 {
    font-size: 3vw;
    font-weight: 400;
    color: rgba(0,0,0,.5);
}


/* JOBS */

.job-image {
    width: 100px;
}
.job-company{
    font-family: 'Martel';
    margin-bottom: 0px;
    font-size: 4vh;
    font-weight: 400;
    color: #236;
    text-decoration: underline;
}
.job-location{
    margin-bottom: 0px;
    font-size: 3vh;
    font-weight: 400;
    color: rgba(100,100,100);
}
.job-title{
    margin-bottom: 0px;
    font-size: 3vh;
    font-weight: 600;
    color: rgba(0,0,0);
}

.jobs th, .jobs td {
    padding: 30px;
}
th, td {
    padding: 5px;
}


.degree{
    font-family: 'Martel';
    margin-bottom: 0px;
    font-size: 4vh;
    font-weight: 400;
}


/* LINKS */

a:link { /* unvisited link */
    color: #236;
}
a:hover { /* mouse over link */
    color: #469;
}


/* OTHER */

.contact-block{
    height:75px;
    margin:10px;
}


.fun-facts p {
    padding-bottom:2%;
    font-size: 16px;
    font-weight: 300;
    color: #eee;
}


hr.fancy {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
