html,
body {
    width: 100%;
    height: 100%;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Martel';
}

header {
    position: relative;
    text-align: center;
    color: #fff;
    min-height: auto;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height:100vh
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 11% 5%;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(70,90,105,.5);
}

header .header-content .header-content-inner h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
}

.job-image {
    width: 100px;
}

.job-company{
    font-family: 'Martel';
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 400;
    color: #236;
    text-decoration: underline;
}
.job-location{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(100,100,100);
}
.job-title{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0);
}

.jobs th, .jobs td {
    padding: 30px;
}

th, td {
    padding: 5px;
}

/* unvisited link */
a:link {
    color: #236;
}

/* mouse over link */
a:hover {
    color: #469;
}

.contact-block{
    height:75px;
    margin:10px;
}

.fun-facts p {
    padding-bottom:2%;
    font-size: 16px;
    font-weight: 300;
    color: #eee;
}





li, .front, .back{
    width: 160px;
    height: 160px;
    background-color: rgba(0,0,0,0);
}


.circle{
    
    position: relative;
    width: 160px;
    height: 160px;
    transition: 0.3s;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

li .outerCircle { 
    display: table;
    height: 160px;
    width: 160px;
    background-color: rgba(22,22,22,1);
    border-radius: 50%;
    transition: transform 0.3s; 
}



.front, .back {
    display: table;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    backface-visibility: hidden;
    background-color: #222222;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center
}
.element{
    display: table-cell;
}

.front {
    z-index: 2;
}

.back {
    transform: rotate3d(45,45,0,180deg);
}


ul{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 50px;
    display: inline-block;
    position: relative;
    perspective: 1000;
}

.element, .p {
    
    vertical-align: middle; 
    text-align: center;
    color: #eee;
}

.circle:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.overlay {
    z-index: 5;
    background: #888;
    display: none;
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
/*
.circle-container, .front, .back {
    width: 175px;
    height: 175px;
    background-color: rgba(0,0,0,0);
}



li .outerCircle { 
    display: table;
    height: 160px;
    width: 160px;
    background-color: rgba(22,22,22,1);
    border-radius: 50%;
    transition: transform 0.3s; 

}

li .innerCircle { 
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    background-color: #222222;
    border-radius: 50%;
    text-align: center;
}



.outerCircle:hover {
    -ms-transform: scale(1.2); /* IE 9 
    -webkit-transform: scale(1.2); /* Safari 3-8 
    transform: scale(1.2); 
}



.outerCircle{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 50%
    position: absolute;
}

.outerCircle, .innerCircle, .element {
    transition: 0.5s;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


.outerCircle .front, .outerCircle .back {
    backface-visibility: hidden;
}

.element {
    backface-visibility: hidden;
}

.outerCircle .front {
    z-index: 2;
}

.element, .back{
    transform: rotate3d(45,45,0,180deg);
}
*/